.wrapper {
  text-align: left;
}

.title {
  border-top: 1px solid lightgrey;
  width: 100%;
}

.card {
  outline: none;
  position: relative;
}

.cardInner {
  height: 100px;
  padding: 16px 32px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  background-color: white;
  /* box-shadow: 0 2px 10px rgba(15, 15, 28, 0.203); */
  /* box-shadow: 0 -9px 11px rgba(15, 15, 28, 0.103); */

  box-shadow: 0 2px 10px rgba(15, 15, 28, 0.203);
  /* border-left: 4px solid #004990; */
}

.breakdownWrapper {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  display: none;
}

.total {
  width: 60px;
}

.percentage {
  margin-left: 16px;
  color: grey;
}

.cardTitle {
  margin: 8px;
  margin-bottom: 0;
  font-size: 20px;
}

.cardDate {
  font-size: 18px;
  color: white;
  margin-left: 8px;
}

.cardTotal {
  font-size: 30px;
  margin: 8px;
}

.carouselWrapper {
  width: 100%;
  margin: auto;
}

.previousArrowWrapper {
  z-index: 100;
  position: absolute;
  left: 16px;
  top: 40%;
  color: #004990;
}

.nextArrowWrapper {
  position: absolute;
  right: 16px;
  top: 40%;
  color: #004990;
}

.nextArrowDisabled {
  color: #ebf3ff;
}

.previousArrowDisabled {
  color: #ebf3ff;
}

/* .leftArrow {
  font-size: 18px;
  z-index: 100;
  position: absolute;
  left: 16px;
  top: 40%;
  color: #004990;
} */

.leftArrow {
  z-index: 100;
  position: absolute;
  left: 28px;
  top: 45%;
  border: solid grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rightArrow {
  z-index: 100;
  position: absolute;
  right: 28px;
  top: 45%;
  border: solid grey;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* .rightArrow {
  font-size: 18px;
  z-index: 100;
  position: absolute;
  right: 16px;
  top: 40%;
  color: #004990;
} */
