.card {
  outline: none;
}

.cardInner {
  padding: 3px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}

.cardTitle {
  margin: 8px;
  margin-bottom: 0;
  font-size: 20px;
}

.cardDate {
  font-size: 18px;
  color: white;
  margin-left: 8px;
}

.cardTotal {
  font-size: 30px;
  margin: 8px;
}

.carouselWrapper {
  width: 90%;
  margin: auto;
}

.previousArrowWrapper {
  position: absolute;
  left: -25px;
  top: 12px;
  color: #004990;
}

.nextArrowWrapper {
  position: absolute;
  right: -25px;
  top: 12px;
  color: #004990;
}

.nextArrowDisabled {
  color: #ebf3ff;
}

.previousArrowDisabled {
  color: #ebf3ff;
}
