.listWrapper {
  margin-top: 68px;
}

@media (min-width: 769px) {
  .listWrapper {
    width: calc(100vw - 270px);
  }
}

@media (min-width: 769px) {
  .listDesktopWrapper {
    height: calc(100vh);
    overflow: scroll;
  }
}
